<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/scss/styles.css">
    <link rel="icon" href="/img/cloud.png">
</head>

<body>
    <div class="main-content" >
        {{>header}}

        <!-- The Modal -->
        <div id="myModal" class="modal">
        
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Modal Header</h2>
                </div>
                <div class="modal-body">
                    <form class="modal-form" id="modal-form">
                        <label for="fname" id="fname">first name</label>
                        <input type="text" id="fname">
                        <label for="lname" id="lname">last name</label>
                        <input type="text" id="lname">
                        <label for="email" id="email">email</label>
                        <input type="text" id="email">
                        <label for="password" id="password">password</label>
                        <input type="password" id="password">
                        <button type="submit">sign in</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <h3>Modal Footer</h3>
                </div>
            </div>
        
        </div>

        <form id="weather-form">
            <input placeholder="Location">
            <button>Search</button>
        </form>
            <div class="icon-output" id="icon-output"></div>
            <p id="location-output"></p>
            <p id="forecast-output"></p>
  
    </div>

    {{>footer}}

    <script src="/bundle.js"></script>

</body>

</html>